<div class="col-xs-12 col-md-12 contacto-wrapper">
    <div id="mailConfirmado" class="alert alert-success" role="alert" style="display:none">Mensaje Enviado</div>
    <div id="mailError" class="alert alert-danger" role="alert" style="display:none">Mensaje No Enviado. Verifique los datos ingresados.</div>

    <div class="col-md-3 col-sm-3 contacto-datos">
        <h1>Info de Contacto</h1>
        <p>Simbrón 4728 (C1417EVZ)</p>
        <p>Buenos Aires, Argentina</p>
        <p>(+54 11) 4639-3589</p>
        <p>
            <a href="mailto:nicolas@microdiagnostica.com.ar">nicolas@microdiagnostica.com.ar</a>
        </p>
    </div>

    <div class="col-md-9 col-xs-12 contacto-form-wapper">
        <h1>Contactanos</h1>
        <div class="contact-form">
            <form name="contactform" ng-submit="contactoCtrl.sendMail()" >
                <p><input name="name" type="text" id="name" placeholder="Nombre o Empresa" ng-model="name" required></p>
                <p><input name="email" type="email" id="email" placeholder="Tu E-mail" ng-model="email" required></p>
                <p><input name="subject" type="text" id="subject" placeholder="Asunto" ng-model="subject" required></p>
                <p><textarea name="comments" type="text" id="comments" placeholder="Mensaje" ng-model="comments" required></textarea></p>
                <p><input type="submit" class="mainBtn" id="submit" value="Enviar Mensaje"></p>
            </form>
        </div>
    </div>
</div>
