<div class="col-md-9 product-price1">
    <div class="bc">
        <label class="bc-item">Productos</label>
        <i class="glyphicon glyphicon-dot blue-dot"> </i>
        <label class="bc-item">{{detalleProductoCtrl.productos_categoria}}</a>
        <i class="glyphicon glyphicon-dot purple-dot"> </i>
        <label class="bc-item">{{detalleProductoCtrl.productos_subcategoria}}</a>
        <i class="glyphicon glyphicon-dot orange-dot"> </i>
        <label class="bc-item">{{detalleProductoCtrl.producto_name}}</a>
    </div>
    <div class="clearfix"></div>

    <div class="col-md-5 single-top" style="overflow: hidden; position: relative;">	
        <img src="{{ detalleProductoCtrl.seleccionado.img }}" style="max-width: 100%;max-height: 100%;" alt="">
    </div>
    <div class="col-md-7 single-top-in simpleCart_shelfItem">
        <div class="single-para ">
            <p class="product-title">{{ detalleProductoCtrl.seleccionado.name }}</p>
            <div class="available" >
               <ul>
                   <li ng-show="detalleProductoCtrl.producto.sub.length > 0">
                       <select ng-model="detalleProductoCtrl.seleccionado" ng-options="x.name for x in detalleProductoCtrl.producto.sub" class="form-control" ng-change="detalleProductoCtrl.changeData(detalleProductoCtrl.seleccionado)" ></select>
                   </li>
                   
                   <li ng-show="detalleProductoCtrl.seleccionado.descripcion" >
                       <div class="descripcion" ng-bind-html="detalleProductoCtrl.descripcionProductoHtml"></div>
                   </li>
               </ul>
               
                <div class="clearfix"></div>
                
            </div>
            
            
        </div>
    </div>
    <div class="clearfix"> </div>
    
    <div class="cd-tabs" >
        <nav>
            <ul class="cd-tabs-navigation" >
                <li>
                    <a data-content="fashion" ng-click="detalleProductoCtrl.mostrarTabs($event,1)" class="selected"  href>Especificaciones</a>
                </li>
                <li>
                    <a data-content="cinema" ng-click="detalleProductoCtrl.mostrarTabs($event,2)" class="" href>Addtional Informatioan</a>
                </li>
                <li ng-show="detalleProductoCtrl.seleccionado.video">
                    <a data-content="television" ng-click="detalleProductoCtrl.mostrarTabs($event,3)" class="" href>Video</a>
                </li>
            </ul> 
        </nav>
        <ul class="cd-tabs-content">
            <li data-content="fashion" ng-class="{tab_selected : detalleProductoCtrl.tab_seleccionada === 1}">
                <div class="especificaciones" ng-bind-html="detalleProductoCtrl.especificacionesProductoHtml"></div>
            </li>
            <li data-content="cinema" ng-class="{tab_selected : detalleProductoCtrl.tab_seleccionada === 2}">
                <div class="facts1" >
                    <div class="color">
                        <p>Color</p>
                        <span >Blue, Black, Red</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="color">
                        <p>Size</p>
                        <span >S, M, L, XL</span>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </li>
            
            <li data-content="television"  ng-class="{tab_selected : detalleProductoCtrl.tab_seleccionada === 3}">
                <video src="{{ detalleProductoCtrl.seleccionado.video }}" controls></video>
            </li>
            <div class="clearfix"></div>
	    </ul> 
    </div> 
</div> 