<div class="col-xs-12 col-md-12 nosotros-wrapper">
    <div id="lista" class="col-xs-12 col-md-4 nosotros-lista">
        
        <h1>¿Qué nos caracteriza?</h1>
        <ul>
            <li><i class="glyphicon glyphicon-dot purple-dot"></i>Diseñador y Fabricante</li>
            <li><i class="glyphicon glyphicon-dot blue-dot"></i>Saraza Sarlanga Sallenave</li>
            <li><i class="glyphicon glyphicon-dot green-dot"></i>Aguanten las pipetas</li>
            <li><i class="glyphicon glyphicon-dot orange-dot"></i>Shalalala poli</li>
        </ul>    
    </div>
    
    <div id="descripcion" class="col-xs-12 col-md-8 nosotros-descripcion">
        <h1>Nosotros</h1>
        <p>Goggles or safety glasses are forms of protective eyewearfthat usually enclose or protect the area surrounding the eye in order to prevent particulates.Goggles or safety glasses are forms of protective eyewearfthat usually enclose or protect the area surrounding the eye in order to prevent particulates.Goggles or safety glasses are forms of protective eyewearfthat usually enclose or protect the area surrounding the eye in order to prevent particulates.</p>
        <p>Goggles or safety glasses are forms of protective eyewearfthat usually enclose or protect the area surrounding the eye in order to prevent particulates. Goggles or safety glasses are forms of protective eyewearfthat usually enclose or protect the area surrounding the eye in order to prevent particulates. Goggles or safety glasses are forms of protective eyewearfthat usually enclose or protect the area surrounding the eye in order to prevent particulates. Enclose or protect the area surrounding the eye in order to prevent particulates.</p>
    </div>   
</div>


<div class="col-md-12 nosotros-imagen">
    <h1>Productos que comercializamos</h1>
    <img class="img-responsive" src="/public/assets/img/esquema-productos.jpg" alt="">    
</div>



