<div class="col-xs-12 col-md-12 nosotros-wrapper">
    <div id="lista" class="col-xs-12 col-md-4 nosotros-lista">

        <h1>¿Qué nos caracteriza?</h1>
        <ul>
            <li><i class="glyphicon glyphicon-dot purple-dot"></i>Importador directo</li>
            <li><i class="glyphicon glyphicon-dot blue-dot"></i>Productos de alta calidad</li>
            <li><i class="glyphicon glyphicon-dot green-dot"></i>Transparencia</li>
            <li><i class="glyphicon glyphicon-dot orange-dot"></i>Atención de calidad</li>
        </ul>
    </div>

    <div id="descripcion" class="col-xs-12 col-md-8 nosotros-descripcion">
        <h1>Nosotros</h1>
        <p>Microdiagnostica es una empresa familiar que nació en el año 2011. Desde ese momento, nuestro objetivo se basó en la ayuda a los laboratorios de microbiología en el área industrial para desarrollar sus actividades de una manera más rápida, sencilla, práctica y eficiente con equipos de alta calidad, utilizados a nivel mundial y reconocidos por las más exigentes normas de calidad europeas.</p>
        <p>Contamos con la confianza de la firma Interscience de Francia para distribuir no solo sus equipos para preparación, plaqueado y lectura de muestras sino también sus bolsas de muestreo en todo tipo de formato y tamaños.</p>
        <p>También contamos con la distribución de productos de la empresa Miniplast de Israel, cuyos productos plásticos son de la más alta calidad, con estándares internacionales y presencia a lo largo y ancho del mundo.</p>
        <p>Nuestra atención personalizada le hará sentir lo importante que es cada cliente para nosotros y la calidez con la que desarrollamos nuestro negocio. Los años de experiencia en el rubro y la calidad de nuestros productos y servicios lo avalan.</p>
    </div>
</div>


<div class="col-md-12 nosotros-imagen">
    <h1>Productos que comercializamos</h1>
    <img class="img-responsive" src="/public/assets/img/esquema-productos.jpg" alt="">
</div>
