<div class="col-md-9 product-price1" >
    <div class="bc">
        <label class="bc-item">Productos</label>
        <i class="glyphicon glyphicon-dot blue-dot"> </i>
        <label class="bc-item">{{productosCtrl.productos_categoria}}</a>
        <i class="glyphicon glyphicon-dot purple-dot"> </i>
        <label class="bc-item">{{productosCtrl.productos_subcategoria}}</a>
    </div>
    
    <div class="col-md-4 chain-grid  simpleCart_shelfItem" ng-repeat="producto in productosCtrl.productos">
       
        <div class="grid-span-1">
            <a  href="/detalleProducto/{{ productosCtrl.productos_categoria }}/{{ productosCtrl.productos_subcategoria }}/{{ producto.name }}"><img class="img-responsive " src="{{ producto.img }}" alt=" ">
                <div class="link">
                    <ul >
                        <li><i class="glyphicon glyphicon-search"> </i></li>
                    </ul>
                </div>
            </a>
        </div>

        <div class="grid-chain-bottom ">
            <a href="/detalleProducto/{{ productosCtrl.productos_categoria }}/{{ productosCtrl.productos_subcategoria }}/{{ producto.name }}">{{ producto.name }}</a>
            <div class="star-price">
                <div class="price-at-bottom ">
                    <span class="item_price">{{ producto.codigo }}</span>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        
        <br/>
        
    </div>
</div>